header {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
}

img {
  border: 2px solid white;
  margin-left: 20px;
  width: 50px;
  cursor: pointer;
}

button {
  background-color: red;
  border: solid 1px red;
  color: white;
  cursor: pointer;
  width: 100px;
}